#dane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    border: 1px solid black;
    width: 500px;
    height: 100px;
    padding: 5px;

}
label{
    margin-bottom: 5px;
}
#pokaz{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: mediumaquamarine;
    border: 1px solid black;
    text-align: end;
    width: 500px;
    height: 100px;
    padding: 5px;
}
p {
    font-size: x-large;
    margin: 0;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.column-f{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}
button{
    background-color: gray;
}
